body {
    background-image:url("https://res.cloudinary.com/fr3shf4iry/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1611168596/annie-spratt-maS7GmsVeRs-unsplash_rbgbw6.jpg") ;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    height: 150vh;
    font-family:cursive;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #616161;
  }
  
h1, h2, h3, h4, h5{
    font-weight: 700;
}

.user-pass-text {
    font-family: sans-serif;
    font-weight: 700;
    font-size: x-large!important;
    color: #000000!important;
}

main {
    flex: 1 0 auto;
  }

/* Navbar */
nav .brand-logo {
    font-size: 4vw;
    font-weight: 700;
}

.nav-extended, .sidenav {
    font-weight: 700;
}

.modal {
    border-radius: 20px;
}

/* main section */
.li-head {
    font-weight: 700;
}

.collapsible-header {
    margin: 10px;
    line-height: 40px;
    border-radius: 10px;
}

.collapsible-body {
    border-radius: 10px;
}

.search-card {
    margin:35px;
    border-radius: 10px;
}

.card-panel {
    border-radius: 20px;
}

.flashed-msg {
    font-size: 5vw;
}

/* Buttons */

.search-button {
    border-radius: 20px;
    font-size: 2vw;
}

.btn-small {
    border-radius: 20px;
}

.btn-large {
    border-radius: 40px;
}

/* footer */
.footer-text {
    font-family:sans-serif;
}