{% extends "index.html" %}
{% block content %}

    <!-- 404 Error -->
    <div class="error-div">
        <div class="row">
            <div class="col s12 pt-5 ">
                <div class="card-panel amber lighten-5">
                    <div class="row">
                    <h4 class="center-align red-text">Page not found! Return to <a
                        href="{{ url_for('all_recipes') }}" class="grey-text text-darken-2" >Grandma's Cookbook</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}