{% extends "index.html" %}
{% block content %}

    <h2 class="amber-text text-lighten-5 center-align">Add Recipe</h2>
    
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe')}}">
            <div class="card-panel amber lighten-5">
                <!-- recipe name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt grey-text text-darken-2 prefix"></i>
                        <input id="name" name="name"  minlength="3" 
                        maxlength="30" type="text" class="validate" title="Enter the Name consisting of 3-30 characters"
                        required>
                        <label for="name">Recipe Name</label>
                    </div>
                </div>
                <!-- description -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-right grey-text text-darken-2 prefix"></i>
                        <textarea id="description" placeholder="Maximum 30 characters " name="description" 
                        title="Enter the short description consisting of 5-30 characters" minlength="5" maxlength="30" 
                        class="materialize-textarea validate" required ></textarea>
                        <label for="description">Short Description</label>
                    </div>
                </div>
                <!-- image -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-image grey-text text-darken-2 prefix"></i>
                        <input id="image" name="image" type="url" class="validate" required>
                        <label for="image">Image URL</label>
                    </div>
                </div>
                <!-- ingredients -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-shopping-basket grey-text text-darken-2 prefix"></i>
                        <textarea id="ingredients" placeholder="Write each ingredient on a new line!" name="ingredients"
                        title="Enter the ingredients consisting of minimum 5 characters " minlength="5" maxlength="1000" 
                        class="materialize-textarea validate" required ></textarea>
                        <label for="ingredients">Ingredients</label>
                    </div>
                </div>
                <!-- portions -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-utensils grey-text text-darken-2 prefix"></i>
                        <input id="portions" name="portions"  minlength="1" 
                        maxlength="2" pattern="^[0-9]{1,2}$" type="text" class="validate" title="Enter a Number from 1-99" required>
                        <label for="portions">Number of portions</label>
                    </div>
                </div>
                <!-- Instruction -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-book grey-text text-darken-2 prefix"></i>
                        <textarea id="how_to" placeholder="Write each step on a new line!" name="how_to" 
                        title="Enter the Instructions consisting of minimum 5 characters" minlength="5" maxlength="2000" 
                        class="materialize-textarea validate" required ></textarea>
                        <label for="how_to">Cooking Instruction</label>
                    </div>
                </div>
                <!-- Submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('all_recipes') }}" class="btn-large red">Cancel
                        <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large grey darken-2 amber-text text-lighten-5">
                        Add Recipe <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
            </div>
        </form>
    </div>
{% endblock %}