{% extends "index.html" %}
{% block content %}

    <h3 class="amber-text text-lighten-5 center-align">Add Recipe</h3>
    
    <div class="row">
        <form class="col s12" method="POST" action="">
            <div class="card-panel amber lighten-5">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt grey-text text-darken-2 prefix"></i>
                        <input id="name" name="name"  minlength="5" 
                        maxlength="30" type="text" class="validate" required>
                        <label for="name">Recipe Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-right grey-text text-darken-2 prefix"></i>
                        <textarea id="description" placeholder="Maximum 20 characters " name="description" minlength="5" maxlength="20" 
                        class="materialize-textarea validate" required ></textarea>
                        <label for="description">Short Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-shopping-basket grey-text text-darken-2 prefix"></i>
                        <textarea id="ingredients" placeholder="Add ingredients for the number of portions " name="ingredients" minlength="5" maxlength="200" 
                        class="materialize-textarea validate" required ></textarea>
                        <label for="ingredients">Ingredients</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-utensils grey-text text-darken-2 prefix"></i>
                        <input id="portions" name="portions"  minlength="1" 
                        maxlength="2" pattern="^[0-9]{1,2}$" type="text" class="validate" required>
                        <label for="portions">Number of portions</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-book grey-text text-darken-2 prefix"></i>
                        <textarea id="how_to" placeholder="This is how you cook this!" name="how_to" minlength="5" maxlength="500" 
                        class="materialize-textarea validate" required ></textarea>
                        <label for="how_to">Cooking Instruction</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}