{% extends "index.html" %}
{% block content %}

    
<h2 class="amber-text center-align text-lighten-5">{{ username | capitalize }}'s Profile</h2>
   
    

        <div class="row">
            <div class="col s12 m8 offset-m2">
               
                <h5 class="amber-text center-align text-lighten-5">
                    
                    See all the recipes you have added below:

                </h5>
                
            </div>
        </div>

    <ul class="collapsible popout">
            {% for receipe in receipes if session.user|lower == receipe.author|lower %}
            <li>
                <div class="collapsible-header receipe-text grey-text text-darken-2 amber lighten-5">
                    <div class="col s3">
                        <i class="far fa-eye"></i>
                    </div>
                    <div class="col s9">
                        <span class="li-head"> {{ receipe.name | capitalize }} : {{ receipe.description | capitalize  }} </span>
                    </div>
                </div>
                <div class="collapsible-body amber lighten-5">
                    
                     <div class="row">
                    <div class="col s12 m6">
                    <p class="li-head">Ingredients:</p>
                    {% for list in receipe.ingredients.splitlines() %}
                    <p> {{ list }}</p>
                    {% endfor %}
                    <p class="li-head"> Number of portions : {{ receipe.portions }} </p>
                    <p><em>Author: {{ receipe.author| capitalize }}</em></p>
                    </div>
                    <div class="col s12 m6 recipe-img">
                     <img src="{{ receipe.image }}" class="responsive-img recipe-img" alt="Image">
                     </div>
                     </div>
                    <p class=" center-align">
                        <a href="{{ url_for('edit_recipe', recipe_id=receipe._id)}}" class="btn-small grey darken-2 amber-text ">Edit</a>

                        <a href="#recipeModal{{ receipe.name.replace(' ','_') }}" class=" modal-trigger btn-small grey darken-2 amber-text text-lighten-5 ">Info</a>
                        <!-- delete confirm modal -->
                        <!-- Button trigger modal -->
                        <a href="#deleteModal{{ receipe.name.replace(' ','_') }}" class=" modal-trigger btn-small grey darken-2 red-text  ">Delete</a>
                        
                    </p>
                </div>
            </li>
            {% else %}
            <div class="row">
                <div class="col s12 pt-5 ">
                    <div class="card-panel amber lighten-5">
                        <div class="row">
                        <h4 class="center-align red-text">You haven't added any receipes. <br><a
                            href="{{ url_for('add_recipe') }}" class="grey-text text-darken-2" > Add some !</a></h4>
                        </div>
                    </div>
                </div>
            </div>
               
            {% endfor %}
        </ul>
            <!-- Modal Structure -->
                        {% for receipe in receipes %}
            <!--info modal-->
                            <div id="recipeModal{{ receipe.name.replace(' ','_') }}" class="modal">
                                <div class="modal-content amber lighten-5 ">
                                <h4 class="center-align grey-text text-darken-2">Cooking Directions</h4>
                                {% for list in receipe.how_to.splitlines() %}
                                    <p> {{ list }}</p>
                                {% endfor %}
                                </div>
                                <div class="modal-footer amber lighten-5 ">
                                <a href="#!" class="modal-close  btn-flat">Done</a>
                                </div>
                            </div>
            <!--delete confirm modal-->
                            <div class="modal" id="deleteModal{{ receipe.name.replace(' ','_') }}">
                                <div class="modal-content amber lighten-5 ">
                                    <h4 class="center-align grey-text text-darken-2" >Deleting Recipe Permanently</h4>
                                    <h3>Deleting {{ receipe.name }}!!!</h3>
                                    <p>Are you sure?</p>
                                </div>
                                <div class="modal-footer amber lighten-5 ">
                                    <a href="#!" class="modal-close  btn-flat">Cancel</a>
                                    <a href="{{ url_for('delete_recipe', recipe_id=receipe._id)}}" class="btn-small grey darken-2 red-text ">Delete</a>
                                </div>
                            </div>
                        {% endfor %}
        
{% endblock %}