{% extends "index.html" %}
{% block content %}
        
            
        

        <div class="row search-card card-pannel amber lighten-5">
            <form action="{{ url_for('search')}}" method="post" class="col s12">
                <div class="row valign-wrapper center-align">
                    <div class="input-field col s12 m8">
                        
                        <input type="text" placeholder="Ingredients or recipe name!" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query">Search</label>
                    </div>
                    <div class="col s12 m4">
                        <button type="submit" class="grey search-button darken-2 btn">
                            Search
                        </button>
                        <a href="{{ url_for('all_recipes') }}" class="red search-button btn">Reset</a>
                    </div>
                </div>
            </form>
        </div>

        <h2 class="amber-text center-align text-lighten-5">Recipes</h2>

        <ul class="collapsible popout">
            {% for receipe in receipes %}
            <li>
                <div class="collapsible-header receipe-text grey-text text-darken-2 amber lighten-5">
                    <div class="col s3">
                        <i class="far fa-eye"></i>
                    </div>
                    <div class="col s9">
                        <span class="li-head">View > {{ receipe.name | capitalize }} : {{ receipe.description | capitalize  }} </span>
                    </div>
                </div>
                <div class="collapsible-body amber lighten-5">
                    
                     <div class="row">
                    <div class="col s12 m6">
                    <p class="li-head">Ingredients:</p>
                    {% for list in receipe.ingredients.splitlines() %}
                    <p> {{ list }}</p>
                    {% endfor %}
                    <p class="li-head"> Number of portions : {{ receipe.portions }} </p>
                    <p><em>Author: {{ receipe.author| capitalize }}</em></p>
                    </div>
                    <div class="col s12 m6 recipe-img">
                     <img src="{{ receipe.image }}" class="responsive-img recipe-img" alt="Image">
                     </div>
                     </div>
                    <p class=" center-align">
                        
                        <a href="#recipeModal{{ receipe.name.replace(' ','_') }}" class=" modal-trigger btn-small grey darken-2 amber-text text-lighten-5 ">Info</a>
                        
                        {% if session.user|lower == receipe.author|lower %}
                        <a href="{{ url_for('edit_recipe', recipe_id=receipe._id)}}" class="btn-small grey darken-2 amber-text ">Edit</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=receipe._id)}}" class="btn-small grey darken-2 red-text ">Delete</a>
                        {% endif %}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
        
            <!-- Modal Structure -->
                        {% for receipe in receipes %}
                            <div id="recipeModal{{ receipe.name.replace(' ','_') }}" class="modal">
                                <div class="modal-content amber lighten-5 ">
                                <h4 class="center-align grey-text text-darken-2">Cooking Directions</h4>
                                {% for list in receipe.how_to.splitlines() %}
                                    <p> {{ list }}</p>
                                {% endfor %}
                                </div>
                                <div class="modal-footer amber lighten-5 ">
                                <a href="#!" class="modal-close  btn-flat">Done</a>
                                </div>
                            </div>
                        {% endfor %}
        
    {% endblock %}
